@model Transaction[]

@foreach (var transaction in Model)
{
    <tr>
        <td class="ps-4">@Html.DisplayFor(m => transaction.Date)</td>
        <td>
            <span class="badge" style="background-color: @transaction.Category.Color">@transaction.Category.Name</span>
            <span class="fw-bold ms-1">@transaction.Comment</span>
        </td>
        <td class="text-end fw-bold">@Html.DisplayFor(m => transaction.Amount)</td>
        <td class="text-center pe-4">
            <button class="btn btn-sm btn-outline-primary edit-transaction" data-transactionid="@transaction.Id">
                Edit
            </button>
            <button class="btn btn-sm btn-outline-danger delete-transaction" data-transactionid="@transaction.Id">
                Delete
            </button>
        </td>
    </tr>
}