@using WardrobeInventory.Blazor.Models
@using WardrobeInventory.Blazor.Services
@using Size = WardrobeInventory.Blazor.Models.Size
@inject ImageService ImageService
@inject WardrobeService WardrobeService

<MudDialog>
    <DialogContent>
        <EditForm Model="_wardrobeItem" OnValidSubmit="HandleFormSubmit">
            <DataAnnotationsValidator />
            <MudTextField Label="Name" @bind-Value="_wardrobeItem.Name" For="@(() => _wardrobeItem.Name)" Margin="Margin.Normal" />
            <MudTextField Label="Brand" @bind-Value="_wardrobeItem.Brand" For="@(() => _wardrobeItem.Brand)" Margin="Margin.Normal" />
            <MudSelect T="Category" Label="Category" @bind-Value="_wardrobeItem.Category" Margin="Margin.Normal">
                @foreach (var category in Enum.GetValues<Category>())
                {
                    <MudSelectItem Value="@category">@category</MudSelectItem>
                }
            </MudSelect>
            <MudSelect T="Size" Label="Size" @bind-Value="_wardrobeItem.Size" Margin="Margin.Normal">
                @foreach (var size in Enum.GetValues<Size>())
                {
                    <MudSelectItem Value="@size">@size</MudSelectItem>
                }
            </MudSelect>
            <MudFileUpload T="IBrowserFile" OnFilesChanged="LoadFile" Class="mt-4">
                <ActivatorContent>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.CloudUpload">
                        Upload Image
                    </MudButton>
                </ActivatorContent>
            </MudFileUpload>
            @if (_image != null)
            {
                <MudText Typo="Typo.body2" Class="mt-2">Selected: @_image.Name</MudText>
            }

            <div class="d-flex justify-end mt-4">
                <MudButton OnClick="Cancel" Class="ml-auto">Cancel</MudButton>
                <MudButton ButtonType="ButtonType.Submit" Color="Color.Primary">Submit</MudButton>
            </div>
        </EditForm>
    </DialogContent>
</MudDialog>

@code {
    [CascadingParameter] IMudDialogInstance MudDialog { get; set; } = null!;
    [Parameter] public int? WardrobeId { get; set; }

    private IBrowserFile? _image;
    private WardrobeItem _wardrobeItem = new();

    protected override async Task OnParametersSetAsync()
    {
        if (WardrobeId.HasValue)
        {
            _wardrobeItem = await WardrobeService.GetItemByIdAsync(WardrobeId.Value) ?? new();
        }
        else
        {
            _wardrobeItem = new();
        }
        _image = null;
    }

    private void LoadFile(InputFileChangeEventArgs obj)
    {
        _image = obj.File;
    }

    private async Task HandleFormSubmit()
    {
        if (_image != null)
            _wardrobeItem.ImageData = await ImageService.ConvertImageToBytes(_image);

        if (!WardrobeId.HasValue)
        {
            await WardrobeService.AddItemAsync(_wardrobeItem);
        }
        else
        {
            await WardrobeService.UpdateItemAsync(_wardrobeItem);
        }

        MudDialog.Close(DialogResult.Ok(true));
    }

    private void Cancel() => MudDialog.Cancel();
}