@using MemoryGame.Models
<div class="mb-3">
    <span class="space-label display-space">Mission Difficulty</span>
    <div class="difficulty-selector">
        <button class="btn btn-difficulty @(SelectedDifficulty == Difficulty.Easy ? "active" : "")"
                @onclick="() => SetDifficulty(Difficulty.Easy)">
            @(Difficulty.Easy.GetDifficultyName())
        </button>
        <button class="btn btn-difficulty @(SelectedDifficulty == Difficulty.Medium ? "active" : "")"
                @onclick="() => SetDifficulty(Difficulty.Medium)">
            @(Difficulty.Medium.GetDifficultyName())
        </button>
        <button class="btn btn-difficulty @(SelectedDifficulty == Difficulty.Hard ? "active" : "")"
                @onclick="() => SetDifficulty(Difficulty.Hard)">
            @(Difficulty.Hard.GetDifficultyName())
        </button>
    </div>
</div>

@code
{
    [Parameter] public Difficulty SelectedDifficulty { get; set; }

    [Parameter] public EventCallback<Difficulty> SelectedDifficultyChanged { get; set; }

    private async Task SetDifficulty(Difficulty difficulty)
    {
        if (SelectedDifficulty != difficulty)
        {
            await SelectedDifficultyChanged.InvokeAsync(difficulty);
        }
    }
}
